/*
Our Colors
Blue    #3399ff;
Green   #009900;
White   #fff;
Gray    #666666;
*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

body {
    /* transform: scale(0.8); */
    background-color: #3399ff;
    height: 100%;
    font-family: 'Cairo', sans-serif;
}

input[type=text] {
    outline: none;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 15px;
}


input[type=text]:focus {
    box-shadow: 0 0 5px #3399ff;
    border: 1px solid rgba(81, 203, 238, 1);
}

input[type=button] {
    background-color: #3399ff;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    color: #fff;
}

input[type=button]:hover {
    background-color: #009900;
    cursor: pointer;
}

input[type=button]:focus {
    outline: 0;
}

.circle:before {
    content: ' \25CF';
    font-size: 40px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #666666;
    border-radius: 50%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border: 0.5px solid #666666;
}

.dot-inactive {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border: 0.5px solid #666666;
}

/**************** Animation ***************/
a,
.dot,
input[type=button],
input[type=text] {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}



/**************** Navbar ***************/
nav {

    background-color: #252525;
    margin-bottom: 60px;
}

nav a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;

}

nav a:hover {
    color: #3399ff;
    text-decoration: none;

}

/**************** Signup_Page ***************/
.Signup_Page .col-md-6.inner-page {
    float: none;
    margin: auto;
    background-color: #fff;
    border-radius: 50px;
    height: 810px;
}

.content-header {
    font-size: 50px;
}

.Signup_Page .col-md-6 .row p {
    font-size: 30px;
    margin-bottom: 0px;

}

.Signup_Page .col-md-6 .row {
    margin-bottom: 10px;
}

.Signup_Page .col-md-6 .row input[type=text] {
    width: 300px;
    font-size: 25px;
}

.Signup_Page .col-md-6 .row #SignupNextBtn {
    margin-top: 20px;
    width: 200px;
}

.Signup_Page .col-md-6 .row #SignupPreviousBtn {
    margin-top: 20px;
}

.Signup_Page .col-md-6 .row #SignupPreviousBtn:hover {
    background-color: #666666;
}

.Signup_Page .col-md-6 .row #SignupSubmitBtn {
    margin-top: 10px;
}

.content-container-2 {
    display: none;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group {
    position: relative;
}

.form-group label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-group input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-group.success input {
    border-color: #2ecc71;
}

.form-group.success select {
    border-color: #2ecc71;
    border-width: 2px;
}

.form-group.error select {
    border-color: #e74c3c;
    border-width: 2px;
}

.form-group.error small {
    color: e74c3c;
    visibility: visible;
}

.form-group.error input {
    border-color: #e74c3c
}

.form-group i {
    visibility: hidden;
    position: absolute;
    top: 43px;
    right: 15px;
}

.form-group.custom i {
    visibility: hidden;
    position: absolute;
    top: 52px;
    right: 15px;
}

.form-group small {
    color: #e74c3c;
    position: absolute;
    bottom: auto;
    left: auto;
    visibility: hidden;
}

.form-check small {
    color: #e74c3c;
    position: absolute;
    bottom: auto;
    left: auto;
    visibility: hidden;
    right: 240px;
    top: 6px;
}

.form-check.error small {
    visibility: visible;
}

.form-check i {
    visibility: hidden;
    position: absolute;
    top: 7px;
    left: 312px;
}

.form-check.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-check.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-group.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-group.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}
.HomeLinkDiv a:hover{
    cursor: pointer;
}

/**************** Home ***************/
.HomePage {}

.HomePage .col-lg-8 {
    background-color: white;
    border-radius: 25px;
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.HomeLinkDiv {
    padding-bottom: 20px;
}
.HomeLinkDiv a:hover{
    cursor: pointer;
}
.HomeLink {
    padding: 0px 20px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    display: block;
    color: #252525;
    height: 50px;
    width: 100%;

}

.HomePage a {
    font-weight: 300;
}

.HomeLink:hover {
    text-decoration: none;
    color: Black;
    border-color: #3399ff;
    box-shadow: 0 0 5px #3399ff;
}

.HomeLink span {
    font-size: 20px;
    position: absolute;
    top: 9px;
    left: 80px;
}

.DownArrow {
    position: absolute;
    top: 18px;
    right: 40px;
    width: 15px;
}

.HomeLinkIcon {
    height: 30px;
    position: absolute;
    top: 10px;
}
.AccountDivName {
    font-size: 24px;
    margin:0px auto;
    margin-bottom: 40px;
}
.AccountDivName a {
    color: black;
    text-decoration: none;

}
.AccountDivName a:hover {
    color: #3399ff;;
}
